<div class="container mt-3">
    <div class="alert alert-primary" role="alert">
        Web Scrapper X - Busca de conteudo Web
    </div>

    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">URL da página</label>


            <span class="badge badge-pill badge-success mx-2"
                (click)="urlPesquisa = 'https://github.com/' ">GitHub</span>
            <span class="badge badge-pill badge-success mx-2" (click)="urlPesquisa = 'https://g1.globo.com/' ">G1</span>
            <span class="badge badge-pill badge-success mx-2"
                (click)="urlPesquisa = 'https://getbootstrap.com/' ">Bootstrap</span>

            <input type="text" name="urlPesquisa" class="form-control" [(ngModel)]="urlPesquisa">
        </div>

        <button class="btn btn-primary" (click)="obterPagina()">Obter Página</button>
        <button *ngIf="returnedPage != '' && returnedPage != null && !showPage " class="btn btn-primary mx-2" (click)="showPage = true">Visualizar Página Obtida</button>
        <button *ngIf="showPage " class="btn btn-primary mx-2" (click)="showPage = false">Ocultar Página Obtida</button>
   
    </form>

    <div>
        <div *ngIf="showPage" [innerHtml]="returnedPage"></div>
    </div>
</div>